* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#preloader{
    background: white url("spinner.gif") no-repeat center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.carousel-inner img {
    height: 85vh;
}



.galleryimg {
    
    aspect-ratio: 1/1;
    object-fit: cover;
}
.reviewimg{
    aspect-ratio: 3/2;
    object-fit: contain;
}
.itemname{
    color: rgba(41, 40, 40, 0.821);
}